.container {
  width: 100%;
  margin-top: 10px;
  overflow: auto;
  height: 150vh;
}

.spinnerContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Vazir";
}

.notFoundContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  font-family: "Vazir";
}

ul {
  padding-inline-start: 0px;
  padding: 20px;
}
