body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  z-index: 100;
}

* {
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  font-size: 16px;
}

*::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@font-face {
  font-family: "Vazir";
  src:
    url("./assets/fonts/Vazir.woff") format("woff"),
    url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src:
    url("./assets/fonts/Vazir-Bold.woff") format("woff"),
    url("./assets/fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Medium";
  src:
    url("./assets/fonts/Vazir-Medium.woff") format("woff"),
    url("./assets/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Light";
  src:
    url("./assets/fonts/Vazir-Light.woff") format("woff"),
    url("./assets/fonts/Vazir-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Thin";
  src:
    url("./assets/fonts/Vazir-Thin.woff") format("woff"),
    url("./assets/fonts/Vazir-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
