body {
  height: 100vh;
  width: 100vw;
  margin: 0px;
  z-index: 100;
}

* {
  box-sizing: border-box;
  font-family: "Vazir", sans-serif;
  font-size: 16px;
}

*::-webkit-scrollbar {
  display: none;
}

* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

ul {
  list-style-type: none;
}

.mapboxgl-popup-content {
  position: relative;
  background: #8a1ef7ad;
  border: 2px #8a1ef7 solid;
  border-radius: 10px;
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 0px;
  padding-bottom: 0px;
  pointer-events: auto;
}
.mapboxgl-popup-content p {
  font-size: 12px; /* Set the font size of the content */
  line-height: 1; /* Set the line height */ /* Set the text color */
  color: white;
}
.mapboxgl-popup-anchor-bottom .mapboxgl-popup-tip {
  border-bottom-color: #8a1ef7; /* Set the tip color */
  border-top-color: #8a1ef7; /* Set the tip color */
}

@font-face {
  font-family: "Vazir";
  src:
    url("./assets/fonts/Vazir.woff") format("woff"),
    url("./assets/fonts/Vazir.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Bold";
  src:
    url("./assets/fonts/Vazir-Bold.woff") format("woff"),
    url("./assets/fonts/Vazir-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Medium";
  src:
    url("./assets/fonts/Vazir-Medium.woff") format("woff"),
    url("./assets/fonts/Vazir-Medium.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Light";
  src:
    url("./assets/fonts/Vazir-Light.woff") format("woff"),
    url("./assets/fonts/Vazir-Light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Vazir-Thin";
  src:
    url("./assets/fonts/Vazir-Thin.woff") format("woff"),
    url("./assets/fonts/Vazir-Thin.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
